.buttonCenter {
    text-align: center;
}

.listButton {
    margin-top: 20px;
}

.smallCvPicture {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.bigCvPicture {
    margin-left: 10px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: block;
}

.smallJobPicture {
    width:100px; 
    height:100px;
    border-radius:8px;
}

.bigJobPicture {
    width: 400px;
    height: 300px;
    margin-left: 350px;
    border-radius:8px;
}
