div.divTable {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.divTable .divTableCell, .divTable.divTable .divTableHead {
    border: 0px solid #FFFFFF;
    padding: 1px 5px;
    border-left: 1px solid #333333;
}

.divTable .divTableHeading .divTableHead {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    border-left: 1px solid #333333;
    padding: 5px 25px;
}

.divTable .divTableHeading .divTableHead:first-child {
    border-left: none;
    text-align: right;
}

.divTable .divTableBody .divTableCell {
    font-size: 17px;
    color: #333333;
}

.date {
    font-weight: bold;
}

.divTableCell:first-child {
    text-align: right;
    border-left: none;
    font-weight: bold;
    padding-right:10px;
}

.divTable .tableFootStyle {
    font-size: 14px;
}

.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}


