@model SkillListModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Skills</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @{ List<SkillModel> works = Model.Skills; }
            @for(int i = 0; i < works.Count; i++)
            {
            <div class="form-group">
                <label asp-for=@works[i].Name class="control-label"></label>
                <input asp-for=@works[i].Name class="form-control" />
                <span asp-validation-for=@works[i].Name class=" text-danger"></span>
                <div>
                    @(Html.AreaLink<SkillsController>("Remove", nameof(SkillsController.Remove), nameof(EducationsController), new { id = ViewContext.RouteData.Values["id"] }))
                </div>
            </div>
           }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @(Html.AreaLink<SkillsController>("Add", nameof(SkillsController.Add), new { id = ViewContext.RouteData.Values["id"] }))
    <a asp-action="Index">Back to List</a>
</div>

