@model EducationListModel
@{
    ViewData["Title"] = "Education";
    ViewData["AddButton"] = Html.GetViewDataLink<EducationsController>(nameof(EducationsController.Add), new { id = ViewContext.RouteData.Values["id"] });
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 style="text-align:center"> Your Education information:</h2>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @await Html.PartialAsync("_Edit")

            <div class="buttonCenter">
                @await Html.PartialAsync("_AddCrudPartial")
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

