@model LanguageListModel
@{
    ViewData["Title"] = "Language";
    ViewData["AddButton"] = Html.GetViewDataLink<LanguagesController>(nameof(LanguagesController.Add), new { id = ViewContext.RouteData.Values["id"] });
}
<h2 style="text-align:center"> Your Languages:</h2>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.Partial("_Edit")

            <div class="buttonCenter">
                @Html.Partial("_AddCrudPartial")
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

