@model WorkListModel
@{
    ViewData["Title"] = "Work";
    ViewData["AddButton"] = Html.GetViewDataLink<WorksController>(nameof(WorksController.Add), new { id = ViewContext.RouteData.Values["id"] });
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 style="text-align:center"> Your working experience:</h2>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.Partial("_Edit")

            <div class="buttonCenter">
                @Html.Partial("_AddCrudPartial")
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
