@model CvCreateModel

@{
    ViewData["Title"] = "View";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">

    </div>
</div>


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
        <h2 style="text-align:center">Create a new CV entry</h2>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group buttonCenter">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="buttonCenter">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
